/*Register form style*/

#registerFormCont {
    width: 100vw;
    height: 100vh;
    opacity: 0.95;
    top: 0;
    background-color: rgb(30, 30, 30);
    position: fixed;
    z-index: 1;
}

#x{
    position: absolute;
    top:2%;
    right: 2%;
    font-size: 24px;
}

#RegisterForm{
    position: relative;
    top:14%;
    background-color: #272727;
    width: 500px;
    height: 450px;
    border: 5px solid #8E7117;
    border-radius: 5px;
    opacity: 1;
    margin: 0 auto;
    padding: 20px;
}



#RegisterForm h3{
    color: #cccccc;
    font-size: 40px;
    border-bottom-color: #232429;
    text-align: center;
}

.field-wrapper {
    margin-bottom: 20px;
}

#RegisterForm input:not([type=checkbox]){
    position: absolute;
    left: 160px;
    width: 65%;
    padding-left: 5px;
    color: white;
    margin-bottom: 30px;
}

[type=checkbox]{
    position: absolute;
    left: 160px;
}

.logInForm input::placeholder {
    color: #777777;
}

.message{
    color:#e22;
    position: relative;
    bottom: 10px;
}
.shadow {
   -moz-box-shadow:    inset 0 0 10px #1a0000;
   -webkit-box-shadow: inset 0 0 10px #1a0000;
   box-shadow:         inset 0 0 10px #1a0000;
}


/*Log In form style*/
.textInput{
    margin-bottom: 10%;
}
#login {
    width: 100vw;
    height: 100vh;
    opacity: 0.95;
    top: 0;
    background-color: rgb(30, 30, 30);
    position: fixed;
    z-index: 1;
}

#LogInForm {
    left: 50%;
    top: 50%;
    margin-left: -20%;
    margin-top: -20%;
    opacity: 1;
    background-color: #272727;
    padding: 5% 10%;
    position: absolute;
    z-index: 1; 
    border: 5px solid #8E7117;
    border-radius: 5px;
    width: 20%;
}
#LogInForm p{
    margin-left: 33%;
    margin-top: 8%;
}

#exit{
    position: absolute;
    top:2%;
    right: 2%;
    font-size: 24px;
}

.logIntextInput {
    background-color: #C1BFB2;
    padding-left: 5%;
    border-bottom:5px solid #8E7117; 
    border-radius: 5px;
    margin: 5%;
    width: 90%;
}

.logInButton {
    width: 39%;
    background-color: #C1BFB2;
    padding-left: 5%;
    border-bottom:5px solid #8E7117; 
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    top: 40px;
    left: 33%;
}

#messageUser {
    position: absolute;
    top: 10%;
    left: 35%;
    background-color: #8E7117;
}
@media (max-width: 568px) {
    #RegisterForm {
        width: 300px;
    } 
    #RegisterForm input:not([type=checkbox]){
        width: 45%;

    }
    #LogInForm {
        left: 35.5%;
        width: 45%;
    }   
    .logInButton {
        top: 10px;
    }
    #LogInForm p {
        margin-left: 30%;
    }
}
    
    
#log-out {
    position: absolute;
    right: 7%;
    top: 40%;
}
#register-logIn {
    position: absolute;
    right: 5%;
    top: 40%;
}

@media (max-width: 950px) {
    #register-logIn{
        top: 23%;
    }
    #log-out {
        top:23%;
        right: 5%;
    }
    #LogInForm {
        left: 45%;
        width: 30%;
    }
    .logInButton {
        top: 20px;
    }
}